@model AIA.Life.Models.UserManagement.Configuration
@using AIA.Presentation.Helpers
@using AIAResources;
@using GridMvc.Html
@{
    ViewBag.Title = "Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmRecruitmentSearch", @class = "" }))*@

    <style>
        .panel-default {
            border-color: #eee !important;
            margin-bottom: 5px;
        }

        .panel {
            background-color: #fbb055 !important; /*#1747a7 !important;*/
        }

        .block-content {
            background-color: #46b2b5;
            padding: 2em 1em;
            width: 200px;
            height: 150px;
            color: white;
            padding-top: 15px;
        }

        @@media screen and (min-width: 320px) and (max-width: 768px) {
            .navbar-collapse.collapse {
                display: block !important;
                margin-left: 20px;
            }

            .nav > li {
                display: inline-block;
            }

            .dashboard-stat .details {
                right: 20px;
            }
        }
    </style>

    <div class="panel panel-default">
        <div class="panel-body" style="color: white;font-size: 16px;
    font-weight: 600;">
            @*@Resources.NewBusiness*@
            Configuration
        </div>

    </div>
    <br />

    <div id="navContainer">
        <div class="collapse navbar-collapse Main-collapse" id="navbar-collapse-1">
            <div class="navbar-nav list" id="divNav">
                <ul class="nav navbar-nav">
                    <li class="dropdown liClass">
                        <a href="#" class="dropdown-toggle dashboard-stat dashboard-stat-light green-soft"
                           data-toggle="dropdown" style="margin-right: 20px;" onclick="showTimeLine()">
                            <div class="visual">
                                <i class="icon-share-alt">
                                </i>
                            </div>
                            <div class="details col-sm-12">
                                <div class="desc  col-sm-12" style="text-align:center;padding-left:25%;"><b>@Resources.GetLabelName("Time Line")</b></div>
                            </div>
                            <div class="col-sm-12">
                                <img src="~/Images/Up-Arrow.png" style="height:20px;margin-left:38px;">
                                <i class=""></i>
                            </div>
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
      <style>
        .panel-default {
            border-color: #eee !important;
            margin-bottom: 5px;
        }

        .panel {
            background-color: #fbb055 !important;
        }

        @@media screen and (min-width:320px) and (max-width:768px) {
            .no-more-tables table, thead, tbody, th, td, tr {
                float: none;
            }
        }
    </style>
       <div id="divConfigurationGrid" style="display:none">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i style="color: white;"></i>
                    <a data-toggle="collapse" data-target="#collapse10" href="#collapseTen" id="pnlBankDetails" class="collapsed">
                        <img style="float: right;" src="~/Content/Images/portlet-expand-icon-white.png">
                        Timeline limits for conversions
                    </a>
                </h4>
            </div>
        </div>
        <div id="divGridRecruitmentSuspectTasks">
            @Html.Partial("~/Views/UserManagement/PartialConfigurationgrid.cshtml", Model)
        </div>
    </div>

    <script type="text/javascript">
        function showTimeLine() {
            //window.location.href = "/UserManagement/ConfigurationTasks";
            $("#divConfigurationGrid").show();
        }
       
    </script>


