@model AIA.Life.Models.Payment.PaymentModel

@{
    
}
<script type="text/javascript">
    
        var gridData = [];



</script>
<div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="icon-list"></i>
                <a data-toggle="collapse" data-target="#collapse1" href="#collapseOne" class="collapsed">Proposal Details <img style="float: right;" src="~/FG/Images/portlet-expand-icon-white.png">
                     
                </a>
            </h4>
        </div>
        
             <div id="collapse1" class="panel-collapse in">
            <div class="panel-body">
                  @Html.Action("PartialProposal","Payment")
                <br />
                  <div class="col-lg-4 col-sm-6">
                    <label class="col-lg-5 col-sm-5  control-label text-right">Payable Amount</label>
                    <div class="col-lg-7 col-sm-7">
                       @Html.TextBoxFor(a => a.PayableAmount, new { @id = "txtamount", @class = "form-control" })

                    </div>
     </div>
                <div class="clearfix"></div>
                </div>
                 </div>
  
    
    </div>
<div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="icon-tag"></i>
                <a data-toggle="collapse" data-target="#collapse2" href="#collapseTwo" class="collapsed">Payment Options <img style="float: right;" src="~/FG/Images/portlet-expand-icon-white.png">
                     
                </a>
            </h4>
        </div>
        
             <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
               
                 @Html.Action("PartialPayment","UserManagement")
                </div>
                 </div>
    
    </div>


