@model AIA.Life.Models.Policy.Policy
@using AIA.Presentation.Helpers
@using AIAResources;
@{
    
}
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="font-weight: bold">@Resources.GetLabelName("Document")</th>
                <th style="font-weight: bold">@Resources.GetLabelName("Status")</th>
                <th style="font-weight: bold">@Resources.GetLabelName("Date & Time")</th>
            </tr>
        </thead>
        <tbody>
            <tr>               

            </tr>            
        </tbody>

    </table>

</div>
