@model AIA.Life.Models.Opportunity.LifeQuote
@using AIA.Presentation.Helpers
@{
    ViewBag.Title = "Quotation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Styles/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Content/Scripts/bootstrap-multiselect.js"></script>
<style>
    .nav-pills > li.active > a {
        background-color: #D31145 !important;
    }

    .plan-desc {
        background-color: #fdf0bc;
        background: -webkit-linear-gradient(#fdf0bc, #f5f3ea); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#fdf0bc, #f5f3ea); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#fdf0bc, #f5f3ea); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#fdf0bc, #f5f3ea);
        border-radius: 4px;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: #eee;
    }

    .nav-tabs > li > a, .nav-pills > li > a {
        font-size: 18px;
        background-color: #B8123E !important;
        color: #fff;
    }

    /*.width {
        width: 12% !important;
    }*/


    @@media only screen and (min-width:497px) and (max-width: 800px) {

        /* Force table to not be like tables anymore */

        /* Force table to not be like tables anymore */
        .no-more-tables table, thead, tbody, th, td, tr {
            float: none !important;
        }

        .width {
            width: 38% !important;
        }
    }
    @@media only screen and (min-width:320px) and (max-width: 496px) {
        .width {
            width: 60% !important;
        }
    }
</style>
<script>
    function SetSIBenefitValue(value, id) {
        $('#' + id).val(value);
    }



    function SetSIBenefitSliderValue(id) {

        var value = parseInt($('#txtBenefitSI' + id).val());
        var MinValue =0;
        if( $('#Min' + id).val() != undefined || $('#Min' + id).val() !='')
        {
            MinValue = parseInt($('#Min' + id).val());
        }
        var MaxValue =0;
        if( $('#Min' + id).val() != undefined || $('#Min' + id).val() !='')
        {
            Maxvalue = parseInt($('#Max' + id).val());
        }

        if (value != '' && value != undefined) {

            $('#RangeSI_' + id).val(value);
            if(value <MinValue)
            {
                //   $('#txtBenefitSI' + id).val(MinValue);
            }
            else if(value >MaxValue)
            {
                $('#txtBenefitSI' + id).val(MaxValue);
            }

        }

    }
</script>
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
    <div class="panel panel-default" id="pnlProposerDetails">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse1" href="#collapseOne" class="collapsed">
                    Prospect Information <span class="fields-count">2/10 <img src="~/Content/Images/portlet-expand-icon-white.png" /></span>
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                @Html.Partial("~/Views/Prospect/QuotationProspectScreen.cshtml", Model)
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="pnlNeedAnalysis">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse2" href="#collapseTwo" class="collapsed">
                    Need Analysis<img src="~/Content/Images/portlet-expand-icon-white.png" style="float: right;" />
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">

                @Html.Partial("~/Views/Prospect/PartialNeedAnalysis.cshtml", Model.objProspect)


            </div>
        </div>
    </div>

    <div class="panel panel-default" id="pnlProductDetails">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse3" href="#collapseThree" class="collapsed">
                    Product Details<img src="~/Content/Images/portlet-expand-icon-white.png" style="float: right;" />
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                @Html.Partial("~/Views/Prospect/ProductDetails.cshtml", Model)
            </div>
        </div>
    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="QuoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                <h5 class="modal-title">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>*@
            <div class="modal-body" id="QuoteModalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="LoadQuotePool()">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
       
        $('#pnlProposerDetails').find('input, textarea, button, select').attr('disabled', 'disabled');
        $('#pnlNeedAnalysis').find('input, textarea, button, select').attr('disabled', 'disabled');
        $( "#PanelBenefits0" ).addClass( "in" );
        $('#buttonBenefitOverview_0').show();

    });
    //function ShowSpouseChildDetails(divid) {
    //    $('#' + divid).show();
    //}
    function HideSpouseDetails(divid) {
        $('#' + divid).hide();
        var _index = divid.split('_')[1];
        $('#ddlSpouseGender'+_index+'').val('');
        $('#dtSpouseCoveredDOB'+_index+'').val('');
        $('#txtSpouseCoveredAge'+_index+'').val('');
        $('#ddlSpouseOccupation'+_index+'').val('');
    }

    //function HideChildDetails(divid) {
    //    $('#' + divid).hide();

    //}
 

  


    //function CalculateQuotePremium(index) {

    //    $('#fromQuotePage'+index).find('input:not(.notdisb), textarea, select').attr('disabled', false);
    //    $('#HdnContactID'+index).attr('disabled',false);
    //    $.post("/Policy/CalculateQuotePremium", $("#fromQuotePage"+index).serialize())
    //   .done(function (data) {

    //       if(data.Message =="Success")
    //       {
    //           $("#txtAnnualPremium" + index).val(data.AnnualPremium);
    //           $("#txtHalfYearlyPremium" + index).val(data.HalfYearlyPremium);
    //           $("#txtQuaterlyPremium" + index).val(data.QuaterlyPremium);
    //           $("#txtMonthlyPremium" + index).val(data.MonthlyPremium);
    //           $("#txtBasicPremium" + index).val(data.BasicPremium);
    //           $("#txtCess" + index).val(data.Cess);
    //           $("#txtVat" + index).val(data.VAT);
    //           $("#hdnPolicyFee" + index).val(data.PolicyFee);
    //           $('#divButtons_' + index).show();
    //           $('#BenifitOvervieModelbody_'+index).html(data.STRHtml);
    //           $('#divIllustration').html(data.STRPremiumHtml);
    //           $('#buttonBenefitOverview_'+index).show();
    //           // $('#buttonPremiumOverview_'+index).show();
    //           $('#btnCalculate_'+index).hide();

    //           $('#fromQuotePage'+index).find('input:not(.notdisb), textarea, select').attr('disabled', true);

    //       }
    //       else{
    //       }


    //   }).
    //   fail(function () {

    //   });


    //}
    function DisplayBenifitOverview(index){
        $("#BenifitOvervieModel_"+index).modal("show");
    }
    function ModifyQuote(index)
    {
        $('#fromQuotePage'+index).find('input:not(.notdisb), textarea, select').attr('disabled', false);
        $('#buttonBenefitOverview_'+index).hide();
        $('#divButtons_'+index).hide();
        $('#btnCalculate_'+index).show();

    }

    //function SaveQuotation(index) {

    //    $('#fromQuotePage'+index).find('input:not(.notdisb), textarea, select').attr('disabled', false);
    //    $('#HdnContactID'+index).attr('disabled',false);
    //    $.post("/Policy/SaveQuotation", $("#fromQuotePage" + index).serialize(), function (data) {
    //        if (data.Message == 'Success') {
    //            $("#hdnQuoteNo"+index).val(data.QuoteNo);
    //            var Message = '<p> Data Saved Successfully. Quote No is ' + data.QuoteNo + ' </p>';
    //            $('#QuoteModalBody').html(Message);

    //            $("#QuoteModal").modal("show");

    //        }
    //        else {

    //            var Message = '<p> Some Error Occured</p>';
    //            $('#QuoteModalBody').html(Message);
    //            $("#QuoteModal").modal("show");
    //        }
    //    });

    //}

    function LoadQuotePool() {
        window.location.href = '/Policy/Quote';
    }
    function ClearQuotation()
    {
        window.location.href = '/Prospect/Prospect';
    }

</script>