@model AIA.Life.Models.Policy.ProposalInbox
@using AIAResources;
@{
    ViewBag.Title = "proposalIncomplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .panel-default {
        /*border-color: #eee !important;*/
        margin-bottom: 5px;
    }

    .panel {
        background-color: #B8123E !important;
    }

    .table-responsive {
        overflow-x: visible !important;
    }
    /*@@media screen and (min-width:320px) and (max-width:768px) {
        .no-more-tables table, thead, tbody, th, td, tr {
            float: none;
        }
    }*/
</style>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/ladda-bootstrap/ladda-themeless.min.css" rel="stylesheet" />
<script src="~/Scripts/ladda-bootstrap/ladda.min.js"></script>
<script src="~/Scripts/ladda-bootstrap/spin.min.js"></script>
<script src="~/Scripts/gridmvc.js"></script>
<script src="~/Scripts/gridmvc.min.js"></script>
<script src="~/Scripts/gridmvc-ext.js"></script>
<script src="~/Scripts/gridmvc.lang.fr.js"></script>
<script src="~/Scripts/gridmvc.lang.ru.js"></script>
<script src="~/Scripts/gridmvc.customwidgets.js"></script>
<script src="~/Scripts/URI.js"></script>

@*<div class="panel panel-default">
        <div class="panel-body" style="color: white;
        font-weight: 600;">New Business - Proposal - Proposal Incomplete</div>
    </div>*@
<div>

    <div class="btn-group btn-breadcrumb breadcrumb-default">

        <div class="visible-lg-block">
            @*<div class="btn btn-info btn-derecha">Reference Number</div>*@
        </div>
        <a href="/Home/AgentHome" class="btn visible-lg-block visible-md-block"><img src="/Content/Images/home-white.png" class="pull-left" style="height:25px;margin-right:10px;background-color: #5a73ef;"></a>@*@Resources.GetLabelName("New Business")*@
        <a href="/Policy/proposalHome" class="btn visible-lg-block visible-md-block" style="max-width:115px">@Resources.GetLabelName("Proposal")</a>
      
        <div class="btn btn-info" style="max-width:208px"><b>@Resources.GetLabelName("Proposal Incomplete")</b></div>

    </div>
</div>
<br />
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 iGrid" id="divProposalIncompleteGrid">
    @*iGrid,grid-mvc *@
    @Html.Partial("~/Views/Policy/_PartialIncompleteProposalDetails.cshtml", Model)
</div>




@*<div class="col-md-12 col-sm-12  col-lg-12 form-group" style="text-align: center;margin-top: 20px;">

        <input type="button" class="btn btn-default" id="" value="Modify Proposal" onclick="ModifyProposal()" style="padding-left:20px;padding-right:20px;" />

        <input type="button" class="btn btn-default" id="" value="Print Proposal" onclick="PrintProposal()" style="padding-left:20px;padding-right:20px;" />
    </div>*@

<script type="text/javascript">
    //$(document).ready(function () {
    //    $.ajax({
    //        type: "get",
    //        url: '/Policy/_PartialIncompleteProposalDetails',
    //        type: 'POST',
    //        dataType: 'html',
    //        contentType: 'application/json; charset=utf-8', success: function (data) {
    //            $("#divProposalIncompleteGrid").html(data);
    //        }
    //    });
    //});

    var PolicyID = '';
    var QuoteNo = '';
    var PreferredLanguage = '';
    var ProductCode = '';
    function ModifyProposal(PolicyID) {
        window.location.href = "/Policy/ModifyProposal?PolicyID=" + PolicyID;
    }
    function SetPolicyID(_PolicyID, quoteNo, productCode) {
        PolicyID = _PolicyID;
        QuoteNo = quoteNo;
        ProductCode = productCode;
    }
    function PrintProposal(QuoteNo, ProductCode, prefferedLanguage) {
        //var checkcount1 = $('#divProposalIncompleteGrid').find('input[type=radio]:checked').length();
        //if (checkcount1 > 0) {
        window.location.href = "/Reports/ReportForProposal?QuoteNo=" + QuoteNo + "&ProductCode=" + ProductCode + "&PrefferedLanguage=" + prefferedLanguage;
        writeMultipleMessage("error", "", "IsSelected");
        //}
        //else {
        //    writeMultipleMessage("error", "Please select Quotation.", "IsSelected");
        //    return false;
        //}
    }
    function PendingPayment(QuoteNo) {
        window.location.href = "/Payment/ProposalPayment?QuoteNo=" + QuoteNo;
    }
</script>