@model AIA.Life.Models.Policy.UWInbox
@using AIA.Presentation.Helpers
@using AIAResources;
@{
    ViewBag.Title = "proposalIncomplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .panel-default {
        /*border-color: #eee !important;*/
        margin-bottom: 5px;
    }

    .panel {
        background-color: #B8123E !important;
    }

    @@media screen and (min-width:320px) and (max-width:768px) {
        .no-more-tables table, thead, tbody, th, td, tr {
            float: none;
        }
    }
</style>



    <div>

        <div class="btn-group btn-breadcrumb breadcrumb-default">

            <div class="visible-lg-block">
                @*<div class="btn btn-info btn-derecha">Reference Number</div>*@
            </div>
            <a href="/Home/AgentHome" class="btn visible-lg-block visible-md-block"><img src="/Content/Images/home-white.png" class="pull-left" style="height:25px;margin-right:10px;background-color: #5a73ef;"></a>
            
            <a href="/Policy/proposalHome" class="btn visible-lg-block visible-md-block">@Resources.GetLabelName("Proposal")</a>
          
            <div class="btn btn-info"><b>@Resources.GetLabelName("Pending Requirement")</b></div>

        </div>
    </div>

<br />
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 iGrid" id="divProposalIncompleteGrid">
    @Html.Partial("~/Views/Policy/PartialPendingRequirementsGrid.cshtml", Model)

</div>



