@model AIA.Life.Models.DashBoard.myProfile
@using AIA.Presentation.Helpers;
@using GridMvc.Html
@{
    ViewBag.Title = "Retrigger Mail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    td {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 10%;
    }

    .text {
        width: 140px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-body" style="background-color: orangered;color:white;font-size:large;padding: 10px;" align="center">RETRIGGER MAILS</div>
</div>
<table style="width:100%">
    <tr>
        <td></td>
        <td>
            <label class="control-label"><img src="~/Content/Images/quote-8.png" style="height:30px;" />Name</label>
        </td>
        <td>
            @Html.TextBoxFor(m => m.fullName, new { @class = "form-control text" })
        </td>
        <td></td>
        <td>
            <label class="control-label"><img src="~/Content/Images/quote-20.png" style="height:30px;" />&nbsp;NIC</label>
        </td>
        <td>
            @Html.TextBoxFor(m => m.NIC, new { @class = "form-control text" })
        </td>
        <td></td>
        <td>
            <label><img src="~/Content/Images/Contact No@0,32x.png" style="height:22px;"/>&nbsp;Contact No.</label>
        </td>
        <td>
            @Html.TextBoxFor(m => m.mobileNo, new { @class = "form-control text" })
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label class="control-label"><img src="~/Content/Images/quote-9.png" style="height:30px;" />Email Id</label>
        </td>
        <td>
            @Html.TextBoxFor(m => m.emailId, new { @class = "form-control text" })
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><img src="~/Content/Images/search@0,32x.png" style="margin-left:70px;height:24px;" /></td>
        <td>
            <input type="submit" class="form-control" value="SEARCH" style="background-color:orange;color:white;" />
        </td>
    </tr>
    <tr></tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <img src="~/Content/Images/Resend@0,32x.png" style="margin-left:70px;" />
        </td>
        <td>
            <input type="submit" class="form-control" value="RESEND" style="background-color:orange;color:white;" />
        </td>
    </tr>
</table>
