
@{
    ViewBag.Title = "InValidPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br />
<br />
<center>
    <img style="width:250px;" src="~/Content/Images/NexGen-IPoS-logo-K20.png" />
    
    <h2 style="color:#1747a7;text-align:center;">OPPS!! Something went wrong. Please contact the Admin.</h2>

</center>