@model AIA.Life.Models.Common.Error

@{
    ViewBag.Title = "Error";
}

@if (Model != null && !string.IsNullOrEmpty(Model.ErrorMessage))
{
    <br /><br /> <br /><br />
    <div style="display: flex; justify-content: center;">
        <img src="../Content/Images/error.jpg" style="max-height: 100px; max-width: 100px;" />
        <br />
    </div>
    <br />
    <div style="display: flex; justify-content: center;text-align: center;">
        <h2 class="text-danger">@Model.ErrorMessage</h2>

    </div>
    <br />
    <div style="display: flex; justify-content: center;text-align: center;">
        <input type="button" class="btn btn-default" id="" value="OK" onclick="gotoQuote()" style="padding-left:20px;padding-right:20px;" />

    </div>

        }
        else
        {
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
        }

        <script>
            function gotoQuote() {
                window.location.href = "/Policy/QuotationPool";
            }
        </script>
