@model AIA.Life.Models.Opportunity.QuoteList
@using AIAResources;
<script src="~/Scripts/Signature/jquery.signaturepad.min.js"></script>

<div class="sigPad" id="Quotesmoothed_@Model.SelectedQuote">

    @*<ul class="sigNav">
        <li class="drawIt"><a href="#draw-it">@Resources.GetLabelName("Draw It")</a></li>
        <li class="clearButton"><a href="#clear">@Resources.GetLabelName("Clear")</a></li>
    </ul>*@
    <div class="sig sigWrapper" style="height:auto;">
        <div class="typed"></div>
        <canvas class="pad" width="436" height="250" style="border: 1px solid #dbdad4;" id="QuoteSignatureID_@Model.SelectedQuote"></canvas>
        @*<input type="hidden" name="QuoteSignature" class="output" id="QuoteSignatureValue_@Model.SelectedQuote">*@
        @Html.HiddenFor(a=>a.objListQuote[Model.SelectedQuote].Signature, new { @id = "QuoteSignatureValue_" + Model.SelectedQuote ,@class= "output" })
    </div>
    <div class="modal-footer">

        <a href="#clear" class="btn btn-secondary clearButton btn-clear" type="button">Clear</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>
<script src="~/Scripts/Signature/numeric-1.2.6.min.js"></script>
<script src="~/Scripts/Signature/bezier.js"></script>
<script src="~/Scripts/Signature/jquery.signaturepad.min.js"></script>
<script src="~/Scripts/Signature/json2.min.js"></script>

<script>
                $(document).ready(function() {
                    $('#Quotesmoothed_@Model.SelectedQuote').signaturePad({
                drawOnly:true,
                drawBezierCurves:true,
                lineTop:200
                });
                });

                $(document).ready(function () {
                    $('#DigitalSign').click(function () {
                        $(document).load($(window).bind("resize", checkPosition));
                    })
                })
                //$(document).load($(window).bind("resize", checkPosition));

                function checkPosition() {
                    if ($(window).width() < 480) {
                        $("#QuoteSignatureID_@Model.SelectedQuote").attr('width', '320');
                    }
                   else if ($(window).width() < 768) {
                       $("#QuoteSignatureID_@Model.SelectedQuote").attr('width', '420');
                   }
                   else {
                       $("#QuoteSignatureID_@Model.SelectedQuote").attr('width', '540');
                   }
                }
    function getDetails() {
                    var canvasid = document.getElementById("QuoteSignatureID_@Model.SelectedQuote");
                    var output = $('.output').val();
                    return { QuoteSignature_@Model.SelectedQuote: output }
                }

</script>

