

<style>
    .layout-bg-block{
        background-image:url('../../Content/Images/welcome-bg-1.jpg');
        background-repeat:no-repeat;
        height: 553px;
        background-position: center;
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        justify-content: center;
        align-items: center;
        position:relative;
    }
    .layout-text{
        font-size: 60px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  line-height:normal;
    }
   .welcome-logo{
       position:absolute;
       bottom:20px;
       right:20px;
   }
</style>
<div class="layout-bg-block">
    <div class="layout-content">
        <p class="layout-text">
            Welcome to
            NexGen iPos
        </p>
   
            <img  class="welcome-logo" src="~/Content/Images/layer-4.png" />
       
    </div>
</div>
