<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=192.168.5.35;Initial Catalog=AVOAIAlife;Persist Security Info=True;User ID=sa_policyjs;Password=iNube@123;" providerName="System.Data.SqlClient" />
    <add name="AVOAIALifeEntities" connectionString="metadata=res://*/AIAEntity.AIAEntity.csdl|res://*/AIAEntity.AIAEntity.ssdl|res://*/AIAEntity.AIAEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.5.35;initial catalog=AVOAIALife;user id=sa_policyjs;password=iNube@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>