<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AVOAIALifeEntities" connectionString="metadata=res://*/AVOLife.AVOLife.csdl|res://*/AVOLife.AVOLife.ssdl|res://*/AVOLife.AVOLife.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=issdbs01;initial catalog=AVOAIA;user id=sa_policyjs;password=iNube@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="AVOAIALifeEntities" connectionString="metadata=res://*/AIAEntity.AIAEntity.csdl|res://*/AIAEntity.AIAEntity.ssdl|res://*/AIAEntity.AIAEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.102.51.25;initial catalog=AVOAIALife;user id=inubedbuser;password=Ibm@123AIA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="JSDataLifeApiUrl" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="amqmdnet" publicKeyToken="dd3cb1c9aae9ec97" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.7" newVersion="8.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="amqmdnsp" publicKeyToken="4ec3909022c7abcc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.7" newVersion="8.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
