
<style>
    .embed-responsive {
        position: relative;
        display: block;
        height: 0;
        padding: 0;
        overflow: hidden;
    }
</style>
<div class='embed-responsive pop-style'>
    <br />
    <a href="~/Content/Knowledge_Center/1st class Brochure E Final.pdf" width="100%" height="100%" target="_blank">
        <img src="~/Content/Images/aia-image.jpg"  width="100%" />
        
    </a>
    @*<embed src="~/Content/Knowledge_Center/1st class Brochure E Final.pdf" width="100%" height="100%" />*@
    <br />
</div>