@*<br />
<embed src="~/Content/Knowledge_Center/Ipos_Text_Final.pdf#toolbar=0" width="100%" height="100%"/>
<br />*@
@*<div class="frame-area" >
    <div>
        <br />
        <iframe src="~/Content/Knowledge_Center/Ipos_Text_Final.pdf#toolbar=0" width="100%" height="100%"></iframe>
        <br />
    </div>
</div>*@
<style>
    .embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
</style>
<div class='embed-responsive pop-style'>
    <br />
    <a href="~/Content/Knowledge_Center/Ipos_Text_Final.pdf" width="100%" height="100%" target="_blank">
        <img src="~/Content/Images/AIA-building.jpg" width="100%" />
       
    </a>
    @*<embed src="https://drive.google.com/file/d/15jgLc3hE7-nsWoh9Av-cbsj_HEisw0-f/preview" width="100%" height="100%" />*@
  
</div>






