
<table style="border-collapse: separate;border-spacing: 0 0em;">

    <tr>
        
        <td colspan="1">
                <a href="~/Content/Knowledge_Center/6977_AIA_Smart Builder Gold E.pdf#toolbar=0&scrollbar=0" target="_blank" title="Smart Builder Gold">
                    AIA Smart Builder Gold
                </a>
            
             </td>
        <td colspan="1">
            <a href="~/Content/Knowledge_Center/7048_AIA_ Easy Pension Brochure_E.pdf#toolbar=0" target="_blank" title="Easy Pension">
                AIA Easy Pension
            </a>
        </td>
        <td colspan="1">
            <a href="~/Content/Knowledge_Center/AIA Education Plan E.pdf#toolbar=0" target="_blank" title="Education Plan">
                AIA Education Plan
            </a>
        </td>
    </tr>
    <tr>
        <td>  </td>
        <td>   </td>
    </tr>
    <tr>
        <td colspan="1" id="AIA_SmartBuilderGoldEPdf">
                <a href="~/Content/Knowledge_Center/6977_AIA_Smart Builder Gold E.pdf#toolbar=0&scrollbar=0" target="_blank">
                    <img src="~/Content/Images/Brosure1.png" class="img-rounded img-style"  title="Smart Builder Gold"/>
                </a>
        </td>
        <td colspan="1" id="AIA_SmartBuilderGoldSPdf" style="display:none;">
            <a href="~/Content/Knowledge_Center/AIA_Smart Builder Gold S.pdf#toolbar=0&scrollbar=0" target="_blank">
                <img src="~/Content/Images/Brosure1.png" class="img-rounded img-style" title="Smart Builder Gold" />
            </a>
        </td>
        <td colspan="1" id="AIA_SmartBuilderGoldTPdf" style="display:none;">
            <a href="~/Content/Knowledge_Center/AIA_Smart Builder Gold T.pdf#toolbar=0&scrollbar=0" target="_blank">
                <img src="~/Content/Images/Brosure1.png" class="img-rounded img-style" title="Smart Builder Gold" />
            </a>
        </td>
        <td colspan="1" id="AIA_EasyPensionEPdf">
            <a href="~/Content/Knowledge_Center/7048_AIA_ Easy Pension Brochure_E.pdf#toolbar=0" target="_blank">
                <img src="~/Content/Images/Brosure2.jpg" class="img-rounded img-style" title="Easy Pension Brochure"/>
            </a>
        </td>
        <td colspan="1" id="AIA_EasyPensionSPdf" style="display:none;">
            <a href="~/Content/Knowledge_Center/AIA_ Easy Pension Brochure_S.pdf#toolbar=0" target="_blank">
                <img src="~/Content/Images/Brosure2.jpg" class="img-rounded img-style" title="Easy Pension Brochure" />
            </a>
        </td>
        <td colspan="1" id="AIA_EasyPensionTPdf" style="display:none;">
            <a href="~/Content/Knowledge_Center/AIA_ Easy Pension Brochure_T.pdf#toolbar=0" target="_blank">
                <img src="~/Content/Images/Brosure2.jpg" class="img-rounded img-style" title="Easy Pension Brochure" />
            </a>
        </td>
        <td colspan="1" id="AIA_EducationPlanEPdf">
            <a href="~/Content/Knowledge_Center/AIA Education Plan E.pdf#toolbar=0" target="_blank">
                <img src="~/Content/Images/AIA Education Plan E.jpg" class="img-rounded img-style" title="AIA Education Plan"/>
            </a>
        </td>
        <td colspan="1" id="AIA_EducationPlanSPdf" style="display:none;">
            <a href="~/Content/Knowledge_Center/AIA Education Plan S.pdf#toolbar=0" target="_blank">
                <img src="~/Content/Images/AIA Education Plan E.jpg" class="img-rounded img-style" title="AIA Education Plan" />
            </a>
        </td>
        <td colspan="1" id="AIA_EducationPlanTPdf" style="display:none;">
            <a href="~/Content/Knowledge_Center/AIA Education Plan T.pdf#toolbar=0" target="_blank">
                <img src="~/Content/Images/AIA Education Plan E.jpg" class="img-rounded img-style" title="AIA Education Plan" />
            </a>
        </td>
    </tr>
    <tr>
        <td><a href="~/Content/Knowledge_Center/AIA SmartBuilder E.pdf#toolbar=0" target="_blank">AIA SmartBuilder</a></td>
        <td><a href="~/Content/Knowledge_Center/AIA_Health Protector Brochure E.pdf#toolbar=0" target="_blank">AIA Health Protector </a></td>
        <td><a href="~/Content/Knowledge_Center/Smart Pensions brochure E.pdf#toolbar=0" target="_blank">Smart Pensions </a></td>

    </tr>
    <tr>

        <td id="AIA_SmartBuilderEPdf">
            <a href="~/Content/Knowledge_Center/AIA SmartBuilder E.pdf#toolbar=0" target="_blank" title="SmartBuilder">
                <img src="~/Content/Images/AIA-SmartBuilder-E-001.jpg" class="img-rounded img-style"  title="SmartBuilder"  />
            </a>
        </td>
        <td id="AIA_SmartBuilderSPdf" style="display:none;">
            <a href="~/Content/Knowledge_Center/AIA SmartBuilder S.pdf#toolbar=0" target="_blank" title="SmartBuilder">
                <img src="~/Content/Images/AIA-SmartBuilder-E-001.jpg" class="img-rounded img-style" title="SmartBuilder" />
            </a>
        </td>
        <td id="AIA_SmartBuilderTPdf" style="display:none;">
            <a href="~/Content/Knowledge_Center/AIA SmartBuilder T.pdf#toolbar=0" target="_blank" title="SmartBuilder">
                <img src="~/Content/Images/AIA-SmartBuilder-E-001.jpg" class="img-rounded img-style" title="SmartBuilder" />
            </a>
        </td>
        <td id="AIA_HealthProtectorEPdf">
            <a href="~/Content/Knowledge_Center/AIA_Health Protector Brochure E.pdf#toolbar=0" target="_blank" title="Health Protector Brochure">
                <img src="~/Content/Images/AIA_Health-Protector-Brochure-E-001.jpg" class="img-rounded img-style" title="Health Protector Brochure"/>
            </a>
        </td>
        <td id="AIA_HealthProtectorSPdf" style="display:none;">
            <a href="~/Content/Knowledge_Center/AIA_Health Protector Brochure S.pdf#toolbar=0" target="_blank" title="Health Protector Brochure">
                <img src="~/Content/Images/AIA_Health-Protector-Brochure-E-001.jpg" class="img-rounded img-style" title="Health Protector Brochure" />
            </a>
        </td>
        <td id="AIA_HealthProtectorTPdf" style="display:none;">
            <a href="~/Content/Knowledge_Center/AIA_Health Protector Brochure T.pdf#toolbar=0" target="_blank" title="Health Protector Brochure">
                <img src="~/Content/Images/AIA_Health-Protector-Brochure-E-001.jpg" class="img-rounded img-style" title="Health Protector Brochure" />
            </a>
        </td>
        <td id="AIA_SmartPensionsEPdf">
            <a href="~/Content/Knowledge_Center/Smart Pensions brochure E.pdf#toolbar=0" target="_blank" title="Smart Pensions brochure">
                <img src="~/Content/Images/Smart-Pensions-brochure-E-001.jpg" class="img-rounded img-style" title="Smart Pensions brochure"/>
            </a>
        </td>
        <td id="AIA_SmartPensionsSPdf" style="display:none;">
            <a href="~/Content/Knowledge_Center/Smart Pensions brochure S.pdf#toolbar=0" target="_blank" title="Smart Pensions brochure">
                <img src="~/Content/Images/Smart-Pensions-brochure-E-001.jpg" class="img-rounded img-style" title="Smart Pensions brochure" />
            </a>
        </td>
        <td id="AIA_SmartPensionsTPdf" style="display:none;">
            <a href="~/Content/Knowledge_Center/Smart Pensions brochure T.pdf#toolbar=0" target="_blank" title="Smart Pensions brochure">
                <img src="~/Content/Images/Smart-Pensions-brochure-E-001.jpg" class="img-rounded img-style" title="Smart Pensions brochure" />
            </a>
        </td>
    </tr>
</table>
<style>
    td {
        padding:5px;
    }
</style>
<script>
    var defaultLang = "en-IN";
    $(document).ready(function () {
       // debugger;
        var lastSelectedTab = localStorage.getItem("currentlng");
        if (lastSelectedTab == "en-IN") {
            $("#AIA_SmartBuilderGoldEPdf").show();
            $("#AIA_SmartBuilderGoldSPdf").hide();
            $("#AIA_SmartBuilderGoldTPdf").hide();

            $("#AIA_EasyPensionEPdf").show();
            $("#AIA_EasyPensionSPdf").hide();
            $("#AIA_EasyPensionTPdf").hide();

            $("#AIA_EducationPlanEPdf").show();
            $("#AIA_EducationPlanSPdf").hide();
            $("#AIA_EducationPlanTPdf").hide();

            $("#AIA_SmartBuilderEPdf").show();
            $("#AIA_SmartBuilderSPdf").hide();
            $("#AIA_SmartBuilderTPdf").hide();

            $("#AIA_HealthProtectorEPdf").show();
            $("#AIA_HealthProtectorSPdf").hide();
            $("#AIA_HealthProtectorTPdf").hide();

            $("#AIA_SmartPensionsEPdf").show();
            $("#AIA_SmartPensionsSPdf").hide();
            $("#AIA_SmartPensionsTPdf").hide();

        }
        if (lastSelectedTab == "si-LK") {
            $("#AIA_SmartBuilderGoldEPdf").hide();
            $("#AIA_SmartBuilderGoldSPdf").show();
            $("#AIA_SmartBuilderGoldTPdf").hide();

            $("#AIA_EasyPensionEPdf").hide();
            $("#AIA_EasyPensionSPdf").show();
            $("#AIA_EasyPensionTPdf").hide();

            $("#AIA_EducationPlanEPdf").hide();
            $("#AIA_EducationPlanSPdf").show();
            $("#AIA_EducationPlanTPdf").hide();

            $("#AIA_SmartBuilderEPdf").hide();
            $("#AIA_SmartBuilderSPdf").show();
            $("#AIA_SmartBuilderTPdf").hide();

            $("#AIA_HealthProtectorEPdf").hide();
            $("#AIA_HealthProtectorSPdf").show();
            $("#AIA_HealthProtectorTPdf").hide();

            $("#AIA_SmartPensionsEPdf").hide();
            $("#AIA_SmartPensionsSPdf").show();
            $("#AIA_SmartPensionsTPdf").hide();
        }
        if (lastSelectedTab == "ta-IN") {
            $("#AIA_SmartBuilderGoldEPdf").hide();
            $("#AIA_SmartBuilderGoldSPdf").hide();
            $("#AIA_SmartBuilderGoldTPdf").show();

            $("#AIA_EasyPensionEPdf").hide();
            $("#AIA_EasyPensionSPdf").hide();
            $("#AIA_EasyPensionTPdf").show();

            $("#AIA_EducationPlanEPdf").hide();
            $("#AIA_EducationPlanSPdf").hide();
            $("#AIA_EducationPlanTPdf").show();

            $("#AIA_SmartBuilderEPdf").hide();
            $("#AIA_SmartBuilderSPdf").hide();
            $("#AIA_SmartBuilderTPdf").show();

            $("#AIA_HealthProtectorEPdf").hide();
            $("#AIA_HealthProtectorSPdf").hide();
            $("#AIA_HealthProtectorTPdf").show();

            $("#AIA_SmartPensionsEPdf").hide();
            $("#AIA_SmartPensionsSPdf").hide();
            $("#AIA_SmartPensionsTPdf").show();


        }
    })
</script>
