@model AIA.Life.Models.Opportunity.Prospect
@using AIA.Presentation.Helpers
@using AIAResources;
@{
    ViewBag.Title = "ProspectPool";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .panel-default {
        /*border-color: #eee !important;*/
        margin-bottom: 5px;
    }

    .panel {
        background-color: #B8123E !important;
    }

    @@media screen and (min-width:320px) and (max-width:768px) {
        .no-more-tables table, thead, tbody, th, td, tr {
            float: none;
        }
    }
</style>


@*<div class="panel panel-default">
    <div class="panel-body" style="color: white;
    font-weight: 600;">New Business - Prospect - Confirmed Prospect</div>
</div>*@
<div>

    <div class="btn-group btn-breadcrumb breadcrumb-default">

        <div class="visible-lg-block">
            @*<div class="btn btn-info btn-derecha">Reference Number</div>*@
        </div>
        <a href="/Home/AgentHome" class="btn visible-lg-block visible-md-block"><img src="/Content/Images/home-white.png" class="pull-left" style="height:25px;margin-right:10px;background-color: #B8123E;"></a>
     
        <a href="Prospect/Prospect" class="btn visible-lg-block visible-md-block">@Resources.GetLabelName("Prospect")</a>
       
        <div class="btn btn-info"><b>@Resources.GetLabelName("Confirmed Prospect")</b></div>


    </div>
<br />
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 iGrid" id="divProspectPoolGrid">
    @*@Html.Partial("~/Views/Prospect/PartialProspectPoolGrid.cshtml", Model)*@
</div>
<div class="iGrid" id="divPartialProspectScreen" style="display:none">
    @*@Html.Partial("~/Views/Prospect/PartialProspectScreen.cshtml", Model)*@
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "get",
            url: '/Prospect/PartialProspectPoolGrid',
            type: 'POST',
            dataType: 'html',
            contentType: 'application/json; charset=utf-8', success: function (data) {
                $("#divProspectPoolGrid").html(data);
            }
        });
    });
</script>

