@model PaymentInitResponse
@using gateway_client_csharp.au.com.gateway.client.payment;
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" align="center" >
    <br />
    <iframe src="@Model.paymentPageUrl" class="frame"></iframe>
    @*<div class="Payment-sections">
        <img src="~/Content/Images/Sampath_Paycorp.png"   style="margin-left: 40%;" />
        <div class="clearfix"></div>
        <h3 class="paydet">Payment Details</h3>
        <div class="holder">@*style="width:100%;height:342px;border:none;"*@

    @*<div class="bar">

        </div>*@
    @*</div>
        <p class="paytext">Please aviod any interactions with the application after pressing 'Submit' button.</p>
            <img src="~/Content/Images/Visa-MasterCard.png" style="margin-left: 5%;margin-top:-2%;" />
            <div class="clearfix"></div>
        </div>*@
    <br />
</div>

